table{
    border-collapse: collapse;
    border : 1px solid black;
    width: 200px;   
}

body{
    font-family: "Helvetica", "Arial", "sans-serif";
}

thead th{
    text-align: left;
    font-size: 20px;
}

tfoot{
    font-size: 12px;
}

#medLine{
    border-bottom: 2.5px solid black;
}

.smallText{
    font-size: 10px;
    font-weight: bold;
}

.thickLine{
    border-bottom: 6px solid black;
}

.thinLine{
    border-bottom: 1px solid black;
}

.right{
    text-align: right;
}

.indentR{
    padding-left: 20px;
}
