body{
    font-family: "Gill Sans MT", "sans-serif";
}

header, main, footer{
    background-color: #FFF4B7;
    border: 10px solid #FDE45F;
    width: 650px;
    /*need to fix border-bottom*/
}
/*FIX THE BORDERS*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section{
    display: flex;
    justify-content: space-between;
}

figcaption{
    text-align: center;
    font-weight: bold;
    background-color: #B3A143;
}

figure img{
    border: 10px inset #FFDC1F ;
}


table{
    border-collapse: collapse;
    border : 1px solid black;
}

#lightning{
    width:  30px;
    height: 30px;
}
