@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color: #A5D49F;
    font-size: 20px;
}

h1{
    font-family: "Lobster", cursive;
    text-align: center;
}

main{
    display: flex;
    justify-content: space-evenly;
}

img{
    float: left;
}

a{
    text-decoration: none;
    color: #0031AB;
}

figure{
    display: flex;
    flex-direction: column;
}
